.DS_* 
*.log
.idea
logs
bower_components
node_modules
dist
npm-debug.log
yarn-error.log
video
dist_electron
/app/*.sh
/internal
android
bg.jpg
*.local
.htaccess
.htaccess 2
tmp
ios/Briefing/Briefing.xcodeproj/project.xcworkspace/xcuserdata/dirk.xcuserdatad/UserInterfaceState.xcuserstate
ios/Briefing/Briefing.xcodeproj/xcuserdata/dirk.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
ios/Briefing/Briefing.xcodeproj/xcuserdata/dirk.xcuserdatad/xcschemes/xcschememanagement.plist
