.DS_* 
.env.*
.htaccess
.htaccess*
.idea
.out.*
.rsync-ignore
*.local
*.log
dist
dist_electron
docker
internal
legacy
logs
node_modules
npm-debug.log
package-lock.json
pnpm-lock.yaml
tmp
video
www
yarn-error.log
production
data
_archive
upload-free.sh
scripts/add-plausible.tsx
