// Chat Added by Yash Govekar

.unread-msg {
  border-radius: 50%;
  background-color: red;
  height: 0.5em;
  width: 0.5em;
  position: relative;
  right: 0.25em;
  top: -0.4em;
}

.chat-container {
  input {
    border: 1px solid gray;
    background: white;
    padding: 0.5rem;
    border-radius: 0.25rem;
    width: 100%;
    color: #1e89f6;
    margin-right: 0.5rem;
  }

  p {
    color: #212529;
    padding: 10px 15px !important;
    margin-bottom: 5px !important;
    display: inline-block !important;
    border-radius: 0.25rem !important;
    line-height: 1.6;
  }

  .bg-light {
    background-color: #c8e2f8 !important;
  }

  .bg-dark {
    background-color: #e4e7ed !important;
  }
}
